.button {
  display: inline-block;
  border: 1px solid;
  border-radius: 29046px;
  font-size: .6em;
  letter-spacing: .2em;
  padding: 1em 2em;
  text-transform: uppercase;
  transition: none 200ms ease-out;
  transition-property: color, background;
  border-color: #e81c4f;
}

.button:hover {
  background: #e81c4f;
  transition: all ease .3s;
}

.button-course {
  display: block;
  width: 25%;
  margin: 1em auto;
}

.button-course a {
  color: #1C4312;
  text-decoration: none;
}

.button-course a:hover {
  color: #fff;
  transition: all ease .3s;
}