.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  opacity: .95;
}

.logo {
  float: left;
  display: inline;
  height: 60px;
  max-width: 40%;
}

.logo img {
  height: 100%;
}

.nav-box {
  float: right;
  width: 45%;
}

.nav {
  display: flex;
  justify-content: space-around;
  line-height: 60px;
}

.nav-element {
  display: inline-block;
  vertical-align: baseline;
  color: #1C3303;
}

@media (max-width: 640px) {
  .header {
    position: inherit;
    width: auto;
    opacity: 1;
  }

  .logo img {
    height: 40px;
  }

  .nav-box,
  .logo {
    float: none;
    height: 40px;
  }

  .nav-box {
    width: 60%;
  }

  .nav {
    line-height: 15px;
  }

  .intro {
    margin: 0;
  }

  .nav-element {
    font-size: .85rem;
  }
}
