body {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 18px;
}

a {
  color: #fff;
}

.text-center-horisontal {
  text-align: center;
}

.small {
  font-size: .9rem;
}

.title {
  text-transform: uppercase;
}

.section-title {
  font-size: 3rem;
  color: #1C4312;
  margin-bottom: .5em;
}

.course-title {
  font-size: 2rem;
  padding-top: .5em;
}

.highlighted {
  font-weight: bold;
}

.teacher-description {
  margin-top: .3em;
  color: #1C4312;
}

.contacts {
  color: #F0EDED;
}

@media (max-width: 960px) {
  body {
    font-size: 15px;
  }
}